/* For text input. */
.textArea {
    flex-direction: column;
    display: flex;
}

.wordFrequencyContainer {
    flex-direction: row;
    display: flex;
    flex: 1;
    overflow: auto;
}

.wordFrequencyListItem {
    text-align: center;
}

.wordFrequencyEmptyText {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.veButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.textButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.veButtonCell {
    height: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
}

#middleButtonCell {
    max-width: 400px;
    min-width: 100px;
}
#leftButtonCell {
    justify-content: right;
}

#rightButtonCell {
    justify-content: left;
}